roles/.DS_Store
group_vars/*
group_vars/all/vars.yml
!group_vars/all/example.yml
TODO.md
TODO*.md
sites/*yml
!sites/vars.yml
sites/makefiles/*
!sites/makefiles/ping
sites/files/*.conf
sites/group_vars/*
sites/host_vars/*
tmp/*
