---
- name: get installed VSCode extensions
  shell: code --list-extensions
  register: vscode_installed
  changed_when: false
  when: ansible_os_family == "Darwin"

- name: install VSCode packages
  shell: "code --install-extension {{ item }}"
  with_items:
    - "GitHub.copilot"
    - "GitHub.vscode-pull-request-github"
    - "kruemelkatze.vscode-dashboard"
    - "vsls-contrib.gistfs"
    - "gerane.Theme-zombiesatemyneighbors"
    - "jmsv.JavaScriptSnippetsStandard"
    - "johnpapa.vscode-peacock"
    - "unifiedjs.vscode-mdx"
    - "github.github-vscode-theme"
    - "lninl.theme-hbuilderx-soft-green-light"
    - "misogi.ruby-rubocop"
    - "raashida.fixthecode-vs"
    - "rebornix.ruby"
    - "tristanremy.mirage"
    - "wingrunr21.vscode-ruby"
    - "wraith13.unsaved-files-vscode"
    - "aaron-bond.better-comments"
    - "eamodio.gitlens"
    - "dbaeumer.vscode-eslint"
    - "dart-code.dart-code"
    - "dart-code.flutter"
    - "ChakrounAnas.turbo-console-log"
    - "wholroyd.jinja"
  when:
    - ansible_os_family == "Darwin"
    - item not in vscode_installed.stdout_lines

- name: copy vscode profile darwin
  copy:
    src: vscode.json
    dest: ~{{ macbook_user.stdout }}/Library/Application Support/Code/User/settings.json
  when: ansible_os_family == "Darwin"

- name: copy vscode profile debian
  copy:
    src: vscode.json
    dest: ~{{ macbook_user.stdout }}/.config/Code/User/settings.json
  when: ansible_os_family == "Debian"

- name: Create snippets directory
  file:
    path: ~{{ macbook_user.stdout }}/Library/Application Support/Code/User/snippets
    state: directory
  when: ansible_os_family == "Darwin"

- name: Copy snippets
  copy:
    src: "{{ item }}"
    dest: ~{{ macbook_user.stdout }}/Library/Application Support/Code/User/snippets
  with_fileglob:
    - snippets/*
  when: ansible_os_family == "Darwin"

- name: Create themes directory
  file:
    path: ~{{ macbook_user.stdout }}/.vscode/themes
    state: directory

- name: Copy themes
  copy:
    src: "{{ item }}"
    dest: ~{{ macbook_user.stdout }}/.vscode/themes
  with_fileglob:
    - themes/*

- name: print role name
  set_fact:
    parent_role_name: "{{ role_name }}"

- name: add version
  include_role:
    name: version
