---
- name: Copy darwin-specific zsh files
  copy:
    src: "{{ item }}"
    dest: "~{{ macbook_user.stdout }}/.zsh/"
  with_fileglob:
    - zsh/darwin/*.zsh

- name: Copy MCP functions
  copy:
    src: zsh/mcp.zsh
    dest: "~{{ macbook_user.stdout }}/.zsh/mcp.zsh"

- name: create empty tokens file only if one doesnt already exist
  copy:
    content: ""
    dest: ~{{ macbook_user.stdout }}/.zsh/tokens.zsh
    force: no

- name: create trial file for new functions if one doesn't already exist
  copy:
    content: "tinker(){\n  echo try out new functions here, not in main file\n}"
    dest: ~{{ macbook_user.stdout }}/.zsh/_trialling.zsh
    force: no

- name: copy js help file
  copy:
    src: help.js
    dest: ~{{ macbook_user.stdout }}/.zsh/help.js

- name: Add ansible to path.
  lineinfile:
    path: ~/.zshrc
    line: export PATH="/.pyvenv-ansible/bin:$PATH"

- name: Remove stale rails source line from zshrc
  lineinfile:
    path: ~/.zshrc
    line: source $HOME/.zsh/rails.zsh
    state: absent

- name: import dnsmasq.yml
  import_tasks: dnsmasq.yml
  when: inventory_hostname != 'github-runner.localhost'

- name: Copy dns functions
  copy:
    src: zsh/dns.zsh
    dest: ~{{ macbook_user.stdout }}/.zsh/dns.zsh

- name: Makes zsh the cron shell
  ansible.builtin.cron:
    name: SHELL
    env: yes
    job: /bin/zsh

- name: Setup cron for appcount
  ansible.builtin.cron:
    name: apps cron
    hour: "16"
    minute: "31"
    job: ". $HOME/.zshrc; apps cron"

- name: Setup cron for orb reset
  ansible.builtin.cron:
    name: orb reset cron
    weekday: "6"
    hour: "7"
    minute: "0"
    job: ". $HOME/.zshrc; orb reset"
