- name: Copy zshrc
  template:
    src: zshrc.j2
    dest: "{{ ['~' + macbook_user.stdout, '.zshrc'] | path_join }}"

- name: Create zsh directory
  file:
    path: "{{ ['~' + macbook_user.stdout, '.zsh'] | path_join }}"
    state: directory

- name: Copy all zsh function files
  copy:
    src: "{{ item }}"
    dest: "{{ ['~' + macbook_user.stdout, '.zsh'] | path_join }}/"
  with_fileglob:
    - zsh/*.zsh

- name: configure terminal for mac
  import_tasks: darwin.yml
  when: ansible_os_family == "Darwin"

- name: configure terminal for pi
  import_tasks: debian.yml
  when: ansible_os_family == "Debian"

- name: include git
  import_tasks: git.yml

- name: Copy templates directory
  copy:
    src: templates/
    dest: "{{ ['~' + macbook_user.stdout, '.templates'] | path_join }}/"

- name: Copy zsh gitignore
  copy:
    src: zsh/.gitignore
    dest: "{{ ['~' + macbook_user.stdout, '.zsh', '.gitignore'] | path_join }}"

- name: Copy zshrc for informational purposes
  copy:
    src: "{{ ['~' + macbook_user.stdout, '.zshrc'] | path_join }}"
    dest: "{{ ['~' + macbook_user.stdout, '.zsh', '.zshrc'] | path_join }}"
  when: ansible_connection == "local"

- name: Copy macfair file (this machine)
  template:
    src: zsh/macfair.zsh.j2
    dest: "{{ ['~' + macbook_user.stdout, '.zsh', 'macfair.zsh'] | path_join }}"
  when: hostvars['localhost']['hostname'].stdout == ansible_hostname

- name: Copy macfair file (other machines)
  copy:
    src: zsh/macfair.zsh
    dest: "{{ ['~' + macbook_user.stdout, '.zsh', 'macfair.zsh'] | path_join }}"
  when: hostvars['localhost']['hostname'].stdout != ansible_hostname

- name: import ci.yml
  import_tasks: ci.yml
  when: inventory_hostname == 'github-runner.localhost'

- name: configure claude
  import_tasks: claude.yml
  when: ansible_os_family == "Darwin"
  tags: claude

- name: print role name
  set_fact:
    parent_role_name: "{{ role_name }}"

- name: add version
  include_role:
    name: version
