---
- name: install package
  apt:
    name: zsh
    state: present
  become: true
  become_user: root

- name: Cloning oh-my-zsh
  git:
    repo: https://github.com/ohmyzsh/ohmyzsh
    dest: "{{ ['~' + macbook_user.stdout, '.oh-my-zsh'] | path_join }}"
    update: no

- name: Copy zsh theme
  copy:
    src: cerico.zsh-theme
    dest: "{{ ['~' + macbook_user.stdout, '.oh-my-zsh', 'themes', 'cerico.zsh-theme'] | path_join }}"

- name: Copy zsh theme ii
  copy:
    src: cerico-w-user.zsh-theme
    dest: "{{ ['~' + macbook_user.stdout, '.oh-my-zsh', 'themes', 'cerico-w-user.zsh-theme'] | path_join }}"

- name: change user shell to zsh
  become: true
  become_user: root
  user:
    name: "{{ macbook_user.stdout }}"
    shell: /bin/zsh

- name: source zshrc
  shell: /usr/bin/sh -c . ~/.zshrc
