server {
    server_name {{ app_name }};
    listen 80;
    root /var/www/html/{{ app_name }};
    index index.html;
    include snippets/errors.conf;
    add_header Content-Security-Policy "\
      connect-src 'self' https://apis.google.com;\
      default-src 'self';\
      font-src 'self' https://rsms.me  https://*.gstatic.com data:;\
      frame-src 'self';\
      img-src 'self' https://github.com https://*.ggpht.com https://*.googleapis.com https://*.gstatic.com data:;\
      object-src 'none';\
      script-src 'self' 'unsafe-eval' 'unsafe-inline' https://d3js.org https://*.googleapis.com;\
      style-src 'self' https://rsms.me https://*.googleapis.com 'unsafe-inline';\
      base-uri 'self';\
      form-action 'self';\
      frame-ancestors 'self'";
}
